<!DOCTYPE html>
<html>
  <head>
    <title>BulletinBoardTrailblazer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "bootstrap", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "bootstrap.min", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'bootstrap.bundle' %>
    <%= javascript_include_tag 'bootstrap.bundle.min' %>  
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'custom' %>
  </body>
</html>
